#cloud-config
system_info:
  default_user:
    name: admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    lock_passwd: true
    ssh_authorized_keys:
      - ssh-rsa ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIs ubuntu